name: hello-worldschedule

on:
  schedule:
    - cron: "*/5 * * * *"
  workflow_dispatch:

jobs:
  my-job:
    runs-on: ubuntu-latest
    steps:
      - name: my-step
        run: echo "Hello World!"
