name: hello-world

adadadon:
  adadadschedule:
    adada- cron: "*/5 * * * *"
  workflow_dispatch:

jobs:
  my-job:
    runs-on: ubuntu-latest
    steps:
      - name: my-step
        run: echo "Hello World!"
